// app global css in SCSS form
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#q-app {
  background: var(--q-tertiary);
}
.q-tab__content.self-stretch{
  width: 100% !important;
}
.q-tab-panels{
  background: unset !important;
}
.q-scrollarea__content {
  position: relative !important;
}
