// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #6e3eff;
$secondary : #a6a0a0;
$accent    : #7E7E7E;
$tertiary  : #E7E7E7;
$fourtiary : #F7F7F7;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
$alarm     : #F85454;

:root{
  --q-tertiary : $tertiary;
  --q-fourtiary : $fourtiary;
  --q-alarm : $alarm;

  .bg-tertiary{
    background: $tertiary !important;
    background: var(--q-tertiary) !important
  }
  .text-tertiary{
    color: $tertiary !important;
  }

  .bg-fourtiary{
    background: $fourtiary !important;
    background: var(--q-fourtiary) !important
  }
  .text-fourtiary{
    color: $fourtiary !important;
  }

  .bg-alarm{
    background: $alarm !important;
    background: var(--q-alarm) !important
  }
  .text-alarm{
    color: $alarm !important;
  }
}
